#services-page {
  background-color: #e7e7e7;
}

#services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: center;
}

.services-pics {
  margin-bottom: -15px;
  position: relative;
}

.services-pics img {
  padding-top: 10px;
  width: 150px;
}

.services-pics p {
  bottom: 50%;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  position: relative;
}

#services-p-border {
  background-color: #448bca;
  border-style: solid;
  border-width: thin;
  color: white;
  font-size: 1.2rem;
  grid-area: 1/1/2/3;
  padding: 5px;
  margin-bottom: 10px;
}

#services-p-border p {
  border-width: thin;
  border-style: solid;
  margin: 1px;
  padding: 20px 30px;
}

#health-care {
  grid-area: 2/1/3/2;
}

#improvement {
  margin-bottom: -30px;
}

#relocation {
  margin-bottom: -40px;
}

#shells {
  grid-area: 6/1/7/3;
}

#shells img {
  width: 200px;
}

@media only screen and (min-width: 475px) {
  @media only screen and (min-height: 355px) {
    #services-container {
      grid-template-columns: repeat(3, 1fr);
    }

    #services-p-border {
      grid-area: 1/1/2/4;
    }

    .services-pics {
      margin: 0;
    }

    #health-care {
      align-self: end;
      margin-top: 45px;
    }

    #health-care img {
      width: 120px;
    }

    #health-care p {
      top: -90px;
    }

    #drywall {
      align-self: center;
      grid-area: 2/2/3/3;
      margin-top: -30px;
    }

    #drywall img {
      width: 180px;
    }

    #drywall p {
      font-size: 1.6rem;
      top: -80px;
    }

    #steel-frame {
      grid-area: 2/3/3/4;
      margin-top: -10px;
    }

    #steel-frame img {
      width: 110px;
    }

    #steel-frame p {
      top: -85px;
    }

    #insulation {
      grid-area: 3/1/4/3;
      margin-left: 160px;
    }

    #insulation img {
    }

    #insulation p {
      /* right: 50px; */
      bottom: 70px;
    }

    #demolition {
      grid-area: 3/2/4/4;
      margin-right: 100px;
      margin-top: -20px;
    }

    #demolition img {
      width: 190px;
    }

    #demolition p {
      bottom: 85px;
      /* left: 25px; */
      font-size: 1.6rem;
    }

    #shells {
      grid-area: 4/1/5/3;
      margin-left: 180px;
    }

    #shells img {
      width: 170px;
    }

    #shells p {
      /* right: 55px; */
      width: 170px;
    }

    #exteriors {
      grid-area: 4/2/5/4;
      margin-right: 135px;
    }

    #exteriors img {
      width: 190px;
    }

    #exteriors p {
      /* left: 25px; */
      bottom: 85px;
      font-size: 1.6rem;
    }

    #improvement {
      grid-area: 5/1/6/3;
      margin-bottom: 0;
      margin-left: 140px;
      margin-top: -20px;
    }

    #improvement img {
      width: 190px;
    }

    #improvement p {
      bottom: 85px;
      font-size: 1.4rem;
      width: 150px;
    }

    #relocation {
      grid-area: 5/2/6/4;
      height: 110px;
      margin-top: -30px;
      margin-left: 200px;
      width: 170px;
    }

    #relocation img {
      /* margin-left: 50px;
        margin-top: -40px; */
      /* width: 170px; */
    }

    #relocation p {
      /* left: 45px; */
      bottom: 85px;
      font-size: 1.4rem;
      width: 120px;
    }
  }

  @media only screen and (min-height: 850px) {
    #health-care {
      /* margin-top: 45px; */
      margin-left: 10px;
    }

    #health-care img {
    }

    #health-care p {
    }

    #drywall {
      /* margin-top: -30px; */
      /* margin-left: 50px; */
    }

    #drywall img {
    }

    #drywall p {
    }

    #steel-frame {
      margin-right: 10px;
    }

    #steel-frame img {
    }

    #steel-frame p {
      width: 100px;
    }

    #insulation {
      /* margin-right: 120px; */
    }

    #insulation img {
    }

    #insulation p {
    }

    #demolition {
      /* margin-left: 110px;
        margin-top: -20px; */
    }

    #demolition img {
      /* width: 190px; */
    }

    #demolition p {
      /* bottom: 85px; */
    }

    #shells {
      /* margin-right: 130px; */
    }

    #shells img {
    }

    #shells p {
    }

    #exteriors {
      /* margin-left: 95px; */
    }

    #exteriors img {
    }

    #exteriors p {
      /* bottom: 85px; */
    }

    #improvement {
      /* margin-right: 90px; */
      /* margin-top: -20px; */
    }

    #improvement img {
    }

    #improvement p {
    }

    #relocation {
      /* margin-top: -30px; */
      /* margin-left: 120px; */
    }

    #relocation img {
    }

    #relocation p {
    }
  }
}

@media only screen and (min-width: 590px) {
  @media only screen and (min-height: 960px) {
    #insulation {
      margin-right: 150px;
    }

    #shells {
      margin-right: 150px;
    }

    #improvement {
      margin-right: 130px;
    }

    #demolition {
      margin-left: 135px;
    }

    #demolition {
      margin-left: 125px;
    }

    #exteriors {
      margin-left: 135px;
    }

    #relocation {
      margin-left: 145px;
    }
  }
}

@media only screen and (min-width: 765px) {
  @media only screen and (min-height: 1020px) {
    #services-page {
      height: 100%;
    }

    #insulation {
      margin-right: 200px;
    }

    #shells {
      margin-right: 200px;
    }

    #improvement {
      margin-right: 180px;
    }

    #demolition {
      margin-left: 250px;
    }

    #demolition {
      margin-left: 125px;
    }

    #exteriors {
      margin-left: 135px;
    }

    #relocation {
      margin-left: 145px;
    }
  }
}

@media only screen and (min-width: 775px) {
  @media only screen and (min-height: 355px) {
    #health-care {
    }

    #health-care img {
    }

    #health-care p {
    }

    #drywall {
    }

    #drywall img {
    }

    #drywall p {
    }

    #steel-frame {
    }

    #steel-frame img {
    }

    #steel-frame p {
    }

    #insulation {
      margin-right: 210px;
    }

    #insulation img {
    }

    #insulation p {
    }

    #demolition {
      margin-left: 160px;
    }

    #demolition img {
    }

    #demolition p {
    }

    #shells {
      margin-right: 200px;
    }

    #shells img {
    }

    #shells p {
    }

    #exteriors {
      margin-left: 150px;
    }

    #exteriors img {
    }

    #exteriors p {
      bottom: 85px;
    }

    #improvement {
      margin-right: 190px;
      margin-top: -20px;
    }

    #improvement img {
    }

    #improvement p {
    }

    #relocation {
      margin-left: 170px;
    }

    #relocation img {
    }

    #relocation p {
    }
  }
}

@media only screen and (min-width: 960px) {
  @media only screen and (min-height: 590px) {
    #services-container {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: auto auto 110px auto;
    }

    #services-p-border {
      grid-area: 1/3/2/8;
      /* margin-top: 30px;
        margin-bottom: 92px; */
      width: 100%;
    }

    #services-p-border p {
      font-size: 1.4rem;
      padding: 10px;
    }

    #health-care {
      grid-area: 1/1/3/2;
      /* margin-top: 50px;
        padding-left: 10px;
        align-self: center; */
    }

    #health-care p {
      top: -85px;
    }

    #drywall {
      /* align-self: center; */
      grid-area: 2/3/3/4;
    }

    #drywall img {
      /* margin-top: -45px;
        margin-left: -15px; */
      width: 160px;
    }

    #drywall p {
      font-size: 1.4rem;
      top: -75px;
    }

    #steel-frame {
      grid-area: 1/2/2/3;
    }

    #steel-frame img {
      /* align-self: end; */
      /* margin-top: 50px; */
      /* margin-left: 5px; */
      width: 120px;
    }

    #steel-frame p {
      /* left: 10px; */
    }

    #insulation {
      grid-area: 3/2/4/3;
      /* height: 100px;
        margin-bottom: 0px; */
    }

    #insulation img {
      margin-right: 0px;
      /* margin-top: -25px; */
      /* width: 110px; */
    }

    #insulation p {
      right: 0px;
      /* bottom: 70px; */
      width: 125px;
    }

    #demolition {
      grid-area: 3/4/4/5;
      /* height: 100px; */
      /* margin-bottom: 30px; */
    }

    #demolition img {
      /* margin-left: 0px;
        margin-top: -25px; */
      width: 160px;
    }

    #demolition p {
      bottom: 70px;
      font-size: 1.4rem;
    }

    #shells {
      grid-area: 3/6/4/7;
    }

    #shells img {
      /* margin-right: 110px;
        width: 170px; */
    }

    #shells p {
      /* right: 55px; */
    }

    #exteriors {
      grid-area: 4/3/5/4;
    }

    #exteriors img {
      /* margin-left: 50px; */
      width: 160px;
    }

    #exteriors p {
      /* left: 25px; */
      bottom: 70px;
      font-size: 1.4rem;
      width: 160px;
    }

    #improvement {
      grid-area: 4/5/5/6;
      /* margin-right: 0; */
      width: 190px;
    }

    /* #improvement img {
        margin-right: 90px;
        margin-top: -30px;
        width: 190px;
      } */

    /* #improvement p {
        right: 45px;
        bottom: 85px;
        font-size: 1.4rem;
      } */

    #relocation {
      grid-area: 4/7/5/8;
      /* margin-bottom: 0; */
    }

    #relocation img {
      margin-left: 50px;
      margin-top: -40px;
      width: 150px;
    }

    #relocation p {
      /* left: 25px; */
      bottom: 80px;
      font-size: 1.3rem;
    }
  }
}
