#services-page {
  background-color: #e7e7e7;
  height: 100%;
  position: relative;
}

#services-border {
  background-color: #448bca;
  margin-right: 0px;
  padding: 10px 0;
  position: relative;
  top: 42px;
  width: calc(100% - 31vw);
}

#services-border p {
  background-color: #448bca;
  border-style: solid;
  border-width: thin;
  color: white;
  font-size: 2.4rem;
  padding: 20px 30px;
  margin: 0 10px;
  text-align: center;
}

.services-pics {
  position: absolute;
}

.services-pics p {
  font-size: 1.9rem;
  position: absolute;
  text-align: center;
}

#steel-frame {
  left: 18.5vw;
  bottom: 47vh;
}

#steel-frame p {
  color: white;
  left: 2vw;
  top: 5vh;
}

#health-care {
  left: 6.7vw;
  bottom: 33vh;
}

#health-care p {
  color: white;
  left: 1vw;
  top: 7.5vh;
}

#drywall {
  left: 29vw;
  bottom: 33vh;
}

#drywall p {
  color: white;
  left: 2.6vw;
  top: 4.5vh;
}

#insulation {
  bottom: 19vh;
  left: 17.2vw;
}

#insulation p {
  bottom: 6vh;
  color: white;
  left: 1.7vw;
}

#demolition {
  bottom: 19.2vh;
  left: 40.8vw;
}

#demolition p {
  bottom: 6vh;
  color: white;
  left: 1.7vw;
}

#exteriors {
  bottom: 5vh;
  left: 29vw;
}

#exteriors p {
  bottom: 6vh;
  color: white;
  left: 2.3vw;
}

#improvement {
  bottom: 4vh;
  left: 52.6vw;
}

#improvement p {
  bottom: 4vh;
  color: white;
  left: 2.5vw;
}

#shells {
  bottom: 19.5vh;
  right: 18.8vw;
}

#shells p {
  bottom: 5vh;
  color: white;
  right: 2.5vw;
}

#relocation {
  bottom: 5.5vh;
  right: 7vw;
}

#relocation p {
  bottom: 4.2vh;
  color: white;
  right: 1.6vw;
}
