#homepage-pic {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1642563116/Luke%27s%20Website/Plan_Desk_with_Border_ozfw9n.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 245px;
  margin-bottom: 30px;
  width: 95vw;
}

#background-container {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1642372247/Luke%27s%20Website/Bank_of_Marin_inverted_a6b2xh.png");
  background-position: -160px 0px;
  background-repeat: no-repeat;
  background-size: 145%;
  height: 349px;
}

.animated > h3 {
  color: white;
  font-size: 2.5rem;
  padding-left: 5px;
  text-shadow: 1px 1px 1px rgb(59, 51, 51);
}

#marin-badge {
  left: 100px;
  position: absolute;
  width: 220px;
}

#nc-badge {
  left: 120px;
  padding-top: 160px;
  position: absolute;
  width: 180px;
}

@media only screen and (min-width: 315px) {
  #background-container {
    background-position: -290px center;
    background-size: 230%;
    height: 486px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 400px) {
  #homepage-pic {
    height: 270px;
  }

  .animated > h3 {
    font-size: 3rem;
  }

  #background-container {
    background-size: 180%;
  }

  #marin-badge {
    left: 46vw;
    margin-top: -10px;
    width: 210px;
  }

  #nc-badge {
    left: 49vw;
    padding-top: 130px;
    width: 180px;
  }
}

@media only screen and (min-width: 475px) {
  #homepage-pic {
    height: 320px;
  }

  #background-container {
    background-position: -300px -80px;
  }
}

@media only screen and (min-width: 590px) {
  #homepage-pic {
    height: 400px;
  }

  #background-container {
    background-position: -360px -130px;
    background-size: 170%;
    height: 550px;
  }

  .animated > h3 {
    font-size: 4rem;
  }

  #marin-badge {
    left: 50vw;
    margin-top: -50px;
    width: 260px;
  }

  #nc-badge {
    left: 53vw;
    padding-top: 110px;
    width: 220px;
  }
}

@media only screen and (min-width: 767px) {
  #homepage-pic {
    display: none; /*temporarily hide pic box */
  }

  #homepage-container {
    height: 77%;
  }

  #background-container {
    background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1635617249/Luke%27s%20Website/Bank_of_Marin_he0sgm.png");
    background-position: -200px center;
    background-size: 161%;
    height: 100%;
  }

  .animated > h3 {
    padding: 10px 0 0 15px;
    text-shadow: 2px 3px 10px rgb(59, 51, 51);
  }
}

@media only screen and (min-width: 1020px) {
  #homepage-container {
    height: 75.8%;
  }

  #background-container {
    background-position: center;
    background-size: 121%;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1020px) {
  #homepage-container {
    height: 82.1%;
  }

  #background-container {
    background-position: center 280px;
    background-size: 146%;
  }

  h3#strategy {
    padding-top: 300px;
  }
}

@media only screen and (min-width: 795px) and (min-height: 1275px) {
  #homepage-container {
    height: 85.6%;
  }

  #background-container {
    background-position: center 415px;
    background-size: 170%;
  }

  h3#strategy {
    padding-top: 460px;
  }
}

@media only screen and (min-width: 1275px) {
  #homepage-container {
    /* height: 71.1%; */
    /* height: 74%; */
    height: 75.5%;
  }

  #background-container {
    /* background-position: center -150px; */
    background-position: center -60px;
    background-size: 110%;
  }

  .animated > h3 {
    font-size: 4rem;
    padding: 40px 0 0 80px;
  }

  h3#strategy {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1360px) {
  #homepage-container {
    height: 79%;
  }
}

@media only screen and (min-width: 1435px) {
  #background-container {
    background-position: center -80px;
  }
}

@media only screen and (min-width: 1530px) {
  #background-container {
    background-position: center -120px;
    background-size: 105%;
  }
}

@media only screen and (min-width: 1900px) {
  #homepage-container {
    height: 81%;
  }

  #background-container {
    background-size: 111%;
    background-position: center -189px;
  }

  #background-container > h3 {
    font-size: 6rem;
    padding: 50px 0 0 125px;
  }

  h3#strategy {
    padding-top: 130px;
  }
}
