#homepage-container {
  /* height: 100%; */
  width: 100%;
}

#homepage-pic {
  background-image: url("https://res.cloudinary.com/gaseir526-tashiono/image/upload/v1635617249/Luke%27s%20Website/Bank_of_Marin_he0sgm.png");
  background-repeat: no-repeat;
  height: calc(100% - 60px);
}

#homepage-pic > h3 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 3px 10px rgb(59, 51, 51);
}

#strategy {
  animation: fadeIn ease-in 2s;
  -webkit-animation: fadeIn ease-in 2s;
  -moz-animation: fadeIn ease-in 2s;
  -o-animation: fadeIn ease-in 2s;
  -ms-animation: fadeIn ease-in 2s;
}

#execution {
  animation: fadeIn ease-in 4s;
  -webkit-animation: fadeIn ease-in 4s;
  -moz-animation: fadeIn ease-in 4s;
  -o-animation: fadeIn ease-in 4s;
  -ms-animation: fadeIn ease-in 4s;
}

#compliance {
  animation: fadeIn ease-in 5250ms;
  -webkit-animation: fadeIn ease-in 5250ms;
  -moz-animation: fadeIn ease-in 5250ms;
  -o-animation: fadeIn ease-in 5250ms;
  -ms-animation: fadeIn ease-in 5250ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 350px) {
  /* #homepage-pic {
    background-position: -600px 0;
    background-size: 300%;
  } */
}

@media only screen and (min-width: 580px) {
  /* #homepage-container {
    height: 100%;
  }
  #homepage-pic {
    background-position: -900px 0;
  } */
}

@media only screen and (min-width: 767px) {
  /* #homepage-pic {
    background-position-x: 90%;
  } */
}

@media only screen and (min-width: 790px) {
  /* #homepage-pic {
    background-position: 90% 0;
    background-size: 300%;
  } */
}
@media only screen and (min-width: 1020px) {
  #homepage-pic {
    /* background-position: -250px -80px;
    background-size: 120%; */
  }

  #homepage-pic > h3 {
    font-size: 6rem;
    /* padding: 50px 0 20px 80px; */
  }
}

@media only screen and (min-width: 1275px) {
  /* #homepage-pic {
    background-position: -100px -80px;
    background-size: 110%;
  }

  #homepage-pic > h3 {
    /* padding: 70px 0 10px 80px;
  } */
}

@media only screen and (min-width: 1580px) {
}

@media only screen and (min-width: 1900px) {
  #homepage-container {
    height: calc(100% - 22.5%);
  }

  #homepage-pic {
    background-position: 0 -180px;
    background-size: 100%;
  }

  #homepage-pic > h3 {
    padding: 60px 0 0 125px;
  }

  h3#strategy {
    padding-top: 130px;
  }

  .footer {
    background-color: #67778a;
    height: 60px;
    width: 100%;
    margin-bottom: 0;
  }
}
