#about-page {
  background-color: #e7e7e7;
  position: relative;
}

.about-title {
  bottom: 265px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  padding-left: 10px;
  position: absolute;
  z-index: 1;
}

.about-title p {
  line-height: 0.8;
}

.worker-imgs {
  position: relative;
  top: 150px;
}

#office-manager {
  margin-left: 15px;
  width: 45vw;
}

#work-force {
  position: absolute;
  margin-top: 70px;
  margin-left: -80px;
  width: 70vw;
  z-index: 1;
}

.about-paragraph {
  background-color: white;
  border: 3px solid #3d4d43;
  border-radius: 60px;
  box-shadow: 6px 8px 0px 0px #3d4d43;
  color: #3d4d43;
  font-size: 1.143rem;
  position: absolute;
  text-align: center;
  z-index: 1;
}

#about-p1 {
  bottom: 590px;
  padding: 20px;
}

#about-p2 {
  bottom: 130px;
  font-size: 1rem;
  padding: 10px 20px;
}

.leased {
  background-image: url("https://res.cloudinary.com/tca7lsohuid8/image/upload/v1642306845/lcr_website/Leased_wfvpo6.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#building {
  bottom: 0;
  transform: translateY(80px);
  width: 180%;
  overflow: hidden;
  position: absolute;
}

.leased #marin-badge,
.leased #nc-badge {
  bottom: 10px;
  position: absolute;
  z-index: 1;
}

.leased #marin-badge {
  left: 50%;
  width: 50vw;
}

.leased #nc-badge {
  left: 10%;
  width: 30vw;
}

.about-title p {
  overflow: hidden;
  white-space: nowrap;
}

#title1 {
  animation: typing 3s steps(40, end), 0.75s 0 normal;
  top: 325px;
}

#title2 {
  animation: typing 3.5s steps(40, end), 1.75s 0 normal;
  top: 390px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media only screen and (min-width: 370px) {
  #about-p1 {
    right: 2%;
    left: 2%;
  }

  .about-title {
    bottom: 265px;
  }

  #building {
    transform: translateY(100px);
  }
}

@media only screen and (min-width: 410px) {
  #about-p1 {
    bottom: 610px;
  }

  .about-title {
    bottom: 260px;
  }

  #building {
    transform: translateY(145px);
  }
}

@media only screen and (min-width: 475px) {
  #work-force {
    width: 65vw;
  }

  #about-p1 {
    bottom: 625px;
    right: 10%;
    left: 10%;
  }

  .about-title {
    bottom: 250px;
  }

  #about-p2 {
    right: 2%;
    left: 2%;
  }

  #building {
    width: 110%;
    transform: translateY(10px);
  }

  .leased #marin-badge {
    width: 40vw;
  }

  .leased #nc-badge {
    left: 15%;
    width: 25vw;
  }
}

@media only screen and (min-width: 595px) {
  #about-p1 {
    bottom: 675px;
    left: 15%;
    right: 15%;
  }

  .about-title {
    bottom: 260px;
  }

  #about-p2 {
    bottom: 130px;
    font-size: 1.143rem;
    left: 10%;
    right: 10%;
  }

  .about-title p {
    font-size: 2.2rem;
    margin-left: 10px;
  }

  #building {
    transform: translateY(50px);
  }

  .leased #marin-badge {
    bottom: -10px;
  }

  .leased #nc-badge {
    bottom: 0px;
    left: 20%;
    width: 23vw;
  }
}

@media only screen and (min-width: 730px) {
  #about-p1 {
    bottom: unset;
    left: 20%;
    right: 20%;
    top: 225px;
  }

  #work-force {
    width: 60vw;
  }

  #building {
    transform: translateY(130px);
    width: 100%;
  }

  .leased {
    height: 550px;
  }

  #about-p2 {
    left: 15%;
    right: 15%;
  }

  .leased #marin-badge {
    bottom: unset;
    right: 20vw;
    top: 460px;
    width: 28vw;
  }

  .leased #nc-badge {
    bottom: unset;
    right: 50vw;
    top: 310px;
    width: 16vw;
  }
  @media only screen and (min-height: 1020px) {
    #about-p1 {
      top: 210px;
    }

    .leased #marin-badge {
      top: 450px;
    }
  }

}

@media only screen and (min-width: 790px) {
  @media only screen and (min-height: 1075px) {
    .leased {
      height: 600px;
    }

    #about-p2 {
      left: 20%;
      right: 20%;
    }

    .leased #marin-badge {
      bottom: 30px;
      top: unset;
      width: 20vw;
    }

    .leased #nc-badge {
      bottom: 20px;
      top: unset;
      width: 15vw;
    }
  }

  @media only screen and (min-height: 1275px) {
    .leased {
      height: 800px;
    }

    #building {
      transform: translateY(130px);
      width: 125%;
    }

    .about-title {
      bottom: 400px;
    }

    #about-p2 {
      bottom: 230px;
    }

    .leased #marin-badge {
      bottom: 50px;
      right: 20vw;
      top: unset;
      width: 30vw;
    }

    .leased #nc-badge {
      bottom: 50px;
      right: 50vw;
      top: unset;
      width: 20vw;
    }
  }
}

@media only screen and (min-width: 840px) {
  #about-p1 {
    left: 25%;
    right: 25%;
  }

  #building {
    transform: translateY(170px);
  }

  #about-p2 {
    left: 20%;
    right: 20%;
  }
}

@media only screen and (min-width: 895px) {
  #building {
    height: 500px;
    transform: translateY(120px);
    width: 100%;
  }

  .leased #marin-badge {
    top: 460px;
    width: 20vw;
  }

  .leased #nc-badge {
    top: 310px;
    width: 13vw;
  }
}

@media only screen and (min-width: 905px) {
  @media only screen and (min-height: 1075px) {
    .leased {
      height: 550px;
    }

    .about-title {
      padding-left: 30px;
    }

    #about-p2 {
      left: 25%;
      right: 25%;
    }
  }
}

@media only screen and (min-width: 1275px) {

  .worker-imgs {
    /* position: unset; */

  }
  
  #about-page {
    height: 100%;
  }

  .about-title {
    bottom: unset;
    top: 250px;
    left: 27%;
  }

  .about-title p {
    font-size: 3rem;
  }

  .leased {
    transform: translate(25vw, -67px);
    width: 50%;
  }

  #building {
    height: 88%;
    transform: unset;
    width: 100%;
  }

  #about-p1 {
    border-radius: 15px;
    top: unset;
    bottom: 210px;
    left: 49%;
    right: 18%;
  }

  #about-p2 {
    border-radius: 20px;
    bottom: 50px;
    left: 49%;
    right: 18%;
  }

  #office-manager {
    position: absolute;
    top: -80px;
    width: 20vw;
  }

  #work-force {
    position: absolute;
    left: 250px;
    top: -30px;
    width: 35vw;
  }

  .leased #marin-badge {
    left: unset;
    top: 250px;
    right: 10px;
    width: 15vw;
  }

  .leased #nc-badge {
    left: unset;
    right: 30px;
    width: 12vw;
    top: 240px;
  }

  @media only screen and (min-height: 645px) {
    #work-force {
      width: 30vw;
    }

    #building {
      height: 90%;
      transform: translateY(50px);
      /* width: 100%; */
      bottom: 38px;
      z-index: -1;
    }

    #about-p1 {
      bottom: 170px;
    }
  
    #about-p2 {
      bottom: 25px;
    }
  
    .leased #nc-badge {
      top: 220px;
    }
  }

  @media only screen and (min-height: 715px) {
    .leased {
      transform: translate(25vw, -43px);
    }

    #building {
      height: 92%;
    }
  }

  @media only screen and (min-height: 795px) {

    #office-manager {
      top: -20px;
    }
  
    #work-force {
      left: 250px;
      top: 40px;
    }

    #about-p1 {
      bottom: 275px;
    }
  
    #about-p2 {
      bottom: 100px;
    }

    .leased {
      height: 586px;
      transform: translate(25vw, 0px);
      width: 50%
    }

    #building {
      height: 130%;
      transform: translate(-40px, 150px);
      width: 130%;
    }

    .leased #marin-badge {
      top: 175px;
    }
  
    .leased #nc-badge {
      top: 175px;
    }
  }
}
