#covid-page {
  background-color: #fff7d9;
  height: auto;
}

#covid-page p {
  font-size: 1.5rem;
  line-height: 1.8;
  padding-top: 50px;
  text-align: center;
}

#covid-imgs {
  position: relative;
}

#covid-p2 {
  margin-top: 525px;
}

#covid-links {
  display: flex;
  gap: 3vw;
  justify-content: center;
}

#covid-links a {
  color: #9e0b0f;
  font-size: 2rem;
  margin: 50px 0;
  padding-right: 5px;
  text-shadow: 1px 2px 1px rgb(59, 51, 51);
}

#covid-links a:hover {
  border-left: 1px solid #9e0b0f;
  border-bottom: 2px solid #9e0b0f;
  padding: 0 0 10px 5px;
  transition: ease-in 100ms;
}

#covid-imgs img {
  position: absolute;
}

#construction {
  left: 28%;
  top: 90px;
}

#electrical {
  top: 30px;
  right: 29%;
}

#lumber {
  left: 24%;
  top: 330px;
}

#metal {
  right: 24%;
  top: 300px;
}

#distancing {
  top: 100px;
  left: 39%;
}
