#contact-page {
  background-color: #eae7d8;
  height: 100%;
}

#contact-page span {
  background-color: #f3b33b;
}

#map-and-contact {
  display: flex;
  align-items: flex-end;
}
#contact-form {
  margin-top: 50px;
  width: 40vw;
}
#contact-submit {
  background-color: #f3b33b;
}
