#contact-page {
  background-color: #eae7d8;
}

#contact-page span {
  background-color: #f3b33b;
}

#map-and-contact {
  display: flex;
  align-items: center;
}
#contact-form {
  padding: 50px 0;
  width: 40vw;
}
#contact-submit {
  background-color: #f3b33b;
}

/* @media only screen and (min-width: 1200px) {
} */
