.page-header {
}

.page-header span {
  background-color: white;
  display: table;
  font-family: "Flamenco", cursive;
  font-size: 2rem;
  margin: 0 auto;
  padding: 1%;
  text-align: center;
  width: 250px;
}
