#header-title {
  font-family: "Crimson Text", serif;
  padding: 25px 0 25px;
  text-align: center;
}

#header-title h1 {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 15px;
}

#desktop-logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  #header-title h1 {
    display: inline;
    font-weight: 300;
    padding: 0 35px;
  }

  #desktop-logo {
    display: inline;
  }

  #mobile-logo {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1600px) {
}
