.footer {
  background-color: #67778a;
  height: 60px;
  width: 100%;
  margin-bottom: 0;
}

.footer p {
  color: rgb(183, 187, 196);
  font-size: 1.2rem;
  text-align: right;
  padding: 20px 50px 0 0;
}
