#hamburger-nav {
  margin: 25px auto 0;
  display: block;
}

.hamburger-lines {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  #header-title h1 {
    display: inline;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 35px;
  }

  #hamburger-nav {
    display: none;
  }
}
