nav {
  background-color: transparent;
  display: flex;
}

nav a {
  font-family: "Flamenco", cursive;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
  nav {
    justify-content: center;
  }

  nav a {
    padding: 0 10px 10px;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  /* nav a {
    display: none;
  } */
}

@media only screen and (min-width: 1020px) {
}

@media only screen and (min-width: 1600px) {
  nav a {
    padding: 0 30px 10px;
  }
}
