nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  font-family: "Flamenco", cursive;
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  nav a {
    display: none;
  }
}

@media only screen and (min-width: 1020px) {
  nav a {
    margin: 0 10px 0;
  }
}
@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1600px) {
}
